<ion-view view-title="Verify your code">
  <ion-content class="loginPage">
  <div class="padding">
  <div class="branding">
    <img src="img/logoDark.png"  style="width:70px;"/>  
  </div>
  <p class="welcome-register-message">Please check your SMS and provide verification code</p>
<form name="signinForm" novalidate="">  
<div class="list">
<label class="item item-input"  
   ng-class="{ 'has-error' : signinForm.msisdn.$invalid}">
<span class="input-label">Enter code :</span>  
<input type="tel"  
   name="code"
   ng-model="user.code" 
   ng-minlength="5" 
   ng-maxlength="5" 
   event-focus="click"
  event-focus-id="code"
   required>
</label>

      <button class="button button-block" ng-click="verifyCode(user)">
        Verify
      </button>
    </div>
 </form>
 </form>   

  </ion-content>
</ion-view>