<ion-view title="{{ windowTitle}}">
  <ion-content>
   <div class="list card">

  <div class="item item-avatar">
    <h3>{{serviceDetails.name}}</h3>
    </div>

  <div class="item item-body">
    <img class="full-image" src="{{serviceDetails.logo}}">
    <p>
      {{serviceDetails.description}} 
     </p>  
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" ng-click="buyMe()">
      <i class="icon ion-bag"></i>
      Buy me
    </a>
    <a class="tab-item" ng-click="contact()">
      <i class="icon ion-ios-email"></i>
      Contact us
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-android-star"></i>
      Favorite
    </a>
  </div>
  </div>

  
  </ion-content>
</ion-view>