<ion-view title="{{ windowTitle}}">
  <ion-content>
   <div class="list card">

  <div class="item item-avatar">
    <h3>{{serviceDetails.name}}</h3>
    </div>

  <div class="item item-body">
    <img class="full-image" src="{{serviceDetails.logo}}">
    <p>
      {{serviceDetails.description}} 
     </p>  
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" ng-click="buyMe()" ng-switch on="serviceDetails.type">
     <span ng-switch-when="mfs"> 
      <i class="icon ion-bag" >
      </i>
       Purchase
      </span>
      <span  ng-switch-when="online">
      <i class="icon ion-earth">
      </i>
      Service links
      </span>
    <span ng-switch-when="airtime"> 
       <i class="icon ion-iphone">
      </i>
      Buy
</span>
    </a>
    <a class="tab-item" ng-click="contact()">
      <i class="icon ion-ios-email"></i>
      Contact us
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-android-star"></i>
      Favorite
    </a>
  </div>
  </div>

  
  </ion-content>
</ion-view>