<ion-view view-title="MobiApp">
<ion-content class="padding padding-top">
 	
    <div class="branding">
      <img src="img/logo.png"  style="max-width:70px;"/>  
       <!-- <div class="tagline">Coming soon</div> -->
      <p>Over 500 services available in one place.</p>
    </div>


<div class="bar bar-header  item-input-inset home_search">
  <label class="item-input-wrapper">
    <input 
        type="search" 
        placeholder="Search"
        ng-model = "seachKey"
        >
    </label>

     <button class="button button-dark home-search-button icon ion-ios-search placeholder-icon" 
     ng-click="search(seachKey)">
    </button>

  </div>

  
 <div class="row">
  <a  href="#/tab/products" class="col home-box">
   		<img src="http://placehold.it/160x160" />
  </a>
    <a href="#/tabs/products" class="col home-box">
   		<img src="http://placehold.it/160x160" />
  </a>
</div>