<ion-view view-title="Imbehe">
<ion-content class="padding padding-top">
    <div class="branding">
      <img src="img/logo.png"  style="max-width:70px;"/>  
       <!-- <div class="tagline">Coming soon</div> -->
      <p>Over 500 services available in one place.</p>
    </div>

<form ng-submit="search(keyword)" class="home_search">
  <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search" 
        ng-model = "keyword">
  </label>
</div>
</form>
 <div class="row">
  <a href="#/tab/services/3" class="col">
   		<img src="img/tigo.png" />
  </a>
  <a  href="#/tab/services/2" class="col">
      <img src="img/rswitch.png" />
  </a>
  </div>
   <div class="row">
    <a  href="#/tab/services/2" class="col">
      <img src="img/public_services.png" />
  </a>

 <a href="#/tab/services/3" class="col">
      <img src="img/kaymu.png" />
  </a>
 </div>