<ion-view title="{{ windowTitle }}">

<ion-content class="has-subheade">
<div class="list">

        <a class="item item-thumbnail-left" ng-click="details(1)">
          <img src="http://ionicframework.com/img/docs/blue-album.jpg">
          <h2>Weezer</h2>
          <p>Blue Album</p>
        </a>

        <a class="item item-thumbnail-left" ng-click="details(1)" >
          <img src="http://ionicframework.com/img/docs/siamese-dream.jpg">
          <h2>Smashing Pumpkins</h2>
          <p>Siamese Dream</p>
        </a>

        <a class="item item-thumbnail-left" ng-click="details(1)">
          <img src="http://ionicframework.com/img/docs/nevermind.jpg">
          <h2>Nirvana</h2>
          <p>Nevermind</p>
        </a>

        <a class="item item-thumbnail-left" ng-click="details(1)">
          <img src="http://ionicframework.com/img/docs/license-to-ill.jpg">
          <h2>Beastie Boys</h2>
          <p>License To Ill</p>
        </a>

        <a class="item item-thumbnail-left" ng-click="details(1)">
          <img src="http://ionicframework.com/img/docs/dookie.jpg">
          <h2>Green Day</h2>
          <p>Dookie</p>
        </a>

        <a class="item item-thumbnail-left" ng-click="details(1)">
          <img src="http://ionicframework.com/img/docs/dookie.jpg">
          <h2>Green Day</h2>
          <p>Dookie</p>
        </a>
        <a class="item item-thumbnail-left" ng-click="details(1)">
          <img src="http://ionicframework.com/img/docs/siamese-dream.jpg">
          <h2>Smashing Pumpkins</h2>
          <p>Siamese Dream</p>
        </a>

        <a class="item item-thumbnail-left" ng-click="details(1)">
          <img src="http://ionicframework.com/img/docs/nevermind.jpg">
          <h2>Nirvana</h2>
          <p>Nevermind</p>
        </a>

</div>
</ion-content>
</ion-view>