<ion-view title="{{ windowTitle}}">
<ion-content class="padding padding-top">
</ion-content>
<div class="content has-header">
      <ul class="list">
      <div class="item item-divider">
          Account
        </div>
      <li class="item item-icon-left" href="#">
          <i class="icon ion-ios-telephone"></i>
          Phone number
          <span class="item-note">
            {{ user.msisdn }}
          </span>
        </li>
        <li class="item item-icon-left item-toggle">
          <i class="icon ion-bag"></i>
          Shopping with my number
           <label class="toggle toggle-balanced">
             <input type="checkbox" checked>
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <div class="item item-divider">
          Payment
        </div>
        <li class="item item-icon-left item-toggle">
          <i class="icon ion-ios-keypad-outline"></i>
          Enter is confirm / submit
           <label class="toggle toggle-balanced">
             <input type="checkbox" checked>
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-icon-left item-toggle">
          <i class="icon ion-card"></i>
          Use my airtime to buy packs
           <label class="toggle toggle-balanced">
             <input type="checkbox" checked>
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-icon-left item-toggle">
          <i class="icon ion-key"></i>
          Always enter pin
           <label class="toggle toggle-balanced">
             <input type="checkbox" checked>
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
      </ul>
    </div>
  </ion-view>