 <ion-nav-bar class="bar-positive" align-title="center">
      <ion-nav-back-button>
      </ion-nav-back-button>
</ion-nav-bar>

<ion-tabs class="tabs-icon-top tabs-positive">
  <ion-tab title="Services" icon="ion-pricetags" href="#/tab/services/">
    <ion-nav-view name="services-tab"></ion-nav-view>
  </ion-tab>

  <!-- <ion-tab title="Mfs" icon="ion-card">
    <ion-nav-view name="mfs-tab"></ion-nav-view>
  </ion-tab> -->
   <ion-tab title="Categories" icon="ion-clipboard" href="#/tab/popular">
    <ion-nav-view name="popular-tab"></ion-nav-view>
  </ion-tab>
  <!-- Settings Tab -->
  <ion-tab title="Settings" icon="icon ion-gear-b" href="#/tab/settings">
    <ion-nav-view name="setting-tab">
    </ion-nav-view>
  </ion-tab>
</ion-tabs>